%head
  %script{:src => "https://api-maps.yandex.ru/2.1/?apikey=52fca74a-2783-4c93-8ac7-3be09cfa94d2&lang=ru_RU", :type => "text/javascript"}
  :javascript
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [#{@airport.coordinates}],
            zoom: 13,
            type: 'yandex#hybrid'
        });
    }
.text-center
  = link_to @airport do
    = image_tag @airport.logo, height: "200px"
%h3.text-center
  %br
  = @airport.name
%br
.row.row-cols-1.g-4
  .col-8
    .card
      .card-body
        = @airport.description
  .col-4
    .card
      .card-body
        %b ICAO:
        = @airport.icao
        %b IATA:
        = @airport.iata
    %br
    #map{:style => "width: 400px; height: 300px"}
    %br
    .card
      .card-header
        %b METAR:
        %br
        = @metar
    %br
    .card
      .card-header
        %b TAF:
        %br
        = @taf
    %br
    = render 'airports/notam'
%br
= link_to 'Edit', edit_airport_path(@airport), class: 'btn btn-sm btn-success'
\|
= link_to 'Back', airports_path, class: 'btn btn-sm btn-danger'
\|
= link_to 'Destroy', @airport, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-sm btn-danger'

%br