%head
  %script{:src => "https://api-maps.yandex.ru/2.1/?apikey=52fca74a-2783-4c93-8ac7-3be09cfa94d2&lang=ru_RU", :type => "text/javascript"}
  :javascript
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [#{@airport.coordinates}],
            zoom: 13,
            type: 'yandex#hybrid'
        });
    }
.text-center
  = link_to @airport do
    = image_tag @airport.logo, height: "200px"
%h3.text-center
  %br
  - if I18n.locale.to_s == 'en'
    = @airport.name_en
  - else
    = @airport.name
%br
.row.row-cols-1.g-4
  .col-8
    .card
      .card-body
        - if I18n.locale.to_s == 'en'
          = @airport.description_en
        - else
          = @airport.description
  .col-4
    .card
      .card-body
        %b ICAO:
        = @airport.icao
        %b IATA:
        = @airport.iata
    %br
    #map{:style => "width: 400px; height: 300px"}
    /%br
    /.card
    /  .card-body
    /    %iframe{:frameborder => "1", :src => "https://metar-taf.com/embed/#{@airport.icao.to_s}?bg_color=f2f2f2&speed=ms&layout=landscape", :width => "380", :height => "255", :scrolling => "no"}
    /%p
    .card
      .card-header
        %b METAR:
        %br
        = @metar
    %br
    .card
      .card-header
        %b TAF:
        %br
        = @taf
    %br
    = render 'airports/notam'
%br
- if current_user && current_user.has_role?(:admin) || current_user && current_user.has_role?(:staff)
  = link_to 'Edit', edit_airport_path(@airport), class: 'btn btn-sm btn-success'
  \|
= link_to t('back'), airports_path, class: 'btn btn-sm btn-primary'
- if current_user && current_user.has_role?(:admin) || current_user && current_user.has_role?(:staff)
  \|
  = link_to 'Destroy', @airport, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-sm btn-danger'

%br