- if cookies && cookies['cookie_eu_consented'] != 'true'
  .js-cookies-eu
    .parent{:align => "center"}
      .card.w-75
        .card-footer
          .cookies-eu
            /- if I18n.exists?('cookies_eu.direction', I18n.locale) && I18n.t(cookies_eu.direction) == rtl
            /  = dir=rtl
            %span.cookies-eu-content-holder
              = t('cookies_eu.cookies_text')
            %br
            %span.cookies-eu-button-holder
              %button.cookies-eu-ok.js-cookies-eu-ok.btn.btn-sm.btn-primary
                = t('cookies_eu.ok')
              - if defined?(link).present?
                %button.btn.btn-sm.btn-success{"data-bs-target" => "#staticBackdrop", "data-bs-toggle" => "modal", :type => "button"}
                  = t('cookies_eu.learn_more')
            / Modal
    #staticBackdrop.modal.fade{"aria-hidden" => "false", "aria-labelledby" => "staticBackdropLabel", "data-bs-backdrop" => "static", "data-bs-keyboard" => "true", :tabindex => "-1"}
      .modal-dialog.modal-fullscreen.modal-dialog-scrollable
        .modal-content
          .modal-header
            %h5#staticBackdropLabel.modal-title Политика обработки персональных данных сайта urrv.me
            %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
          .modal-body
            - if I18n.locale.to_s == 'ru'
              = render 'home/privacy_policy_ru'
            - else
              = render 'home/privacy_policy_en'
          .modal-footer
            %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Закрыть
