%br
%footer.footer.bg-light
  .container
    %br
    .row
      .col-md-4
        Copyright
        ©
        = Time.now.year
        URRV Team
        .row
        .fa.fa-envelope
        = mail_to 'support@urrv.me'
        .row
      .col-md-4
        = link_to 'Privacy policy', privacy_policy_path
        .row
        Terms and conditions
      .col-md-4
        About us
        = form_tag({}, {:method => :get}) do
          = select_tag 'set_locale',
            options_for_select(LANGUAGES, I18n.locale.to_s),
            onchange: 'this.form.submit()'
          /= submit_tag 'submit'
          = javascript_tag "$('.locale input').hide()"
