%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand
      = link_to home_path, class: 'navbar-brand' do
        = image_tag 'logo.png', size: '50x50', alt: "logo", class: 'rounded'
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(airports_path)}"}
          = link_to airports_path, class: 'nav-link' do
            .fas.fa-paper-plane
            = t 'geography'
        %li.nav-item
          = link_to home_path, class: 'nav-link' do
            = t 'pilot'
        - if current_user && current_user.has_role?(:admin)
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              = t 'admin'
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                %a.dropdown-item
                  = link_to users_path, class: 'nav-link' do
                    = t 'users'
              %li
                %a.dropdown-item{:href => "#"} Another action
              %li
                %hr.dropdown-divider/
              %li
                %a.dropdown-item{:href => "#"} Something else here
          %li.nav-item
            %a.nav-link.disabled Disabled
      %form.d-flex
        .form-inline.my-2.my-lg-0
          = form_tag(airports_path, method: :get) do
            .input-group
              = text_field_tag :icao, params[:icao], autocomplete: 'off', placeholder: "Search by ICAO", class: 'form-control-sm', size: "7"
              %span.input-group-append
                %button.btn.btn-outline-success{:type => "submit"}
                  %span.fa.fa-search{"aria-hidden" => "true"}
      - if current_user
        %ul.navbar-nav.mr-right
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.email
            .dropdown-menu.dropdown-menu-end{"aria-labelledby" => "navbarDropdown"}
              /= link_to user_path(current_user), class: "dropdown-item" do
              /  .fa.fa-user
              /  %b Profile
              = link_to edit_user_registration_path, class: "dropdown-item" do
                .fa.fa-cog
                %b Account settings
              = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                .fa.fa-plane-departure
                %b Sign out
      - else
        %ul.navbar-nav.mr-auto
        %ul.navbar-nav
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(new_user_registration_path)}"}
            = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
          %li.nav-item.nav-item{class: "#{'active font-weight-bold' if current_page?(new_user_session_path)}"}
            = link_to 'Log In', new_user_session_path, class: 'nav-link'
          /%li.nav-item.nav-item
          /  = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'nav-link' do
          /    .fab.fa-google
