!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{descriptions: 'ЗЦ Ростов-на-Дону VATSIM'}/
    %meta{keywords: 'URRV, VATSIM, VATRUS, Ростов-на-Дону'}/
    %meta{author: 'Valeriy Polostyanoy'}/
    %title
      = content_for?(:title) ? yield(:title) :"URRV"
    = favicon_link_tag 'logo.png'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    .container
      %p
      = yield
    %br
    %p
    %br
    = render 'layouts/footer'
    = render 'cookies_eu/consent_banner', link: 'privacy_policy'
